# All deployment dependencies are required so that we're able to actually
# deploy test environments:

--editable ../infrastructure

# All other dependencies declared here are those used just for end-to-end
# testing purposes:

pytest
